<div class="row">
  <div class="searchcontainer">
    <h1 class="text-center textsearch">Search movie</h1>

    <div class= "col-xs-12 col-md-6 col-md-offset-3">
        <div class="row">
          <form id="movie-search">
            <span class="col-xs-4 col-xs-offset-4 searchbar">
              <input type="text" name="s" class="form-control" placeholder="Enter Movie Name">
            </span>
            <span class="col-xs-2 submitbtm">
              <button type="submit" class="btn btn-success">Submit</button>
            </span>
          </form>
        </div>
    </div>

  </div>

  <div class="col-xs-12 col-md-8 col-md-offset-3">
    <div id="movies"></div>
    <div id="movie"></div>
  </div>
</div>

